* {
  margin: 0;
}

:root {
  --color-blue: #3048f8;
  --color-red: #ff221f;
  --color-peach: #fe5f5f;
  --color-pink: #fceaee;
  --color-white: #fcf9f9;
}

body {
  background-color: var(--color-pink);
}

img {
  display: block;
  width: 100%;
  height: auto;
  opacity: 100%;
}

main {
  display: grid;
  grid-template-columns: 1fr minmax(0, 1200px) 1fr;
}

h1 {
  font-family: azo-sans-web, sans-serif;
  font-weight: 900;
  font-style: normal;
  color: var(--color-red);
  font-size: 2.5rem;
  margin-bottom: 5rem;
  margin-top: 5rem;
}

.h1stroke {
  color: var(--color-pink);
  -webkit-text-stroke: 1px var(--color-red);
}

.h3stroke {
  color: var(--color-blue);
  -webkit-text-stroke: 1px var(--color-pink);
}

.h1blue {
  color: var(--color-peach);
}

h2 {
  font-family: azo-sans-web, sans-serif;
  font-weight: 900;
  font-style: normal;
  color: var(--color-peach);
  font-size: 3rem;
  position: absolute;
}

h3 {
  font-family: azo-sans-web, sans-serif;
  font-weight: 900;
  font-style: normal;
  color: var(--color-pink);
  font-size: 2.5rem;
}

p {
  font-family: ingra, sans-serif;
  font-weight: 200;
  font-style: normal;
  text-decoration: none;
  color: var(--color-red);
  margin-bottom: 7rem;
}

.project_p {
  color: var(--color-pink);
}

a {
  font-family: ingra, sans-serif;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  color: #ff221f;
  font-size: 1.5rem;
}

/* button {
  height: 3rem;
  width: 12rem;
  background-color: var(--color-red);
  border: none;
  color: var(--color-pink);
  box-shadow: 5px 5px var(--color-pink);
} */

/*********************************************************** HEADER MOBILE */

header {
  position: sticky;
  top: 0;
  padding: 1rem;
  z-index: 100;
  background-color: var(--color-pink);
}

header .logo {
  display: flex;
  place-content: center;
  margin-bottom: 1rem;
}

header nav ul {
  list-style: none;
  padding: 0;
  gap: 1rem;
  overflow-x: auto;
  display: flex;
  place-content: center;
}
/*********************************************************** SECTION ONE MOBILE */

.section_one {
  grid-column: 1/4;
}

/*********************************************************** SECTION TWO MOBILE */

.section_two {
  grid-column: 2/3;
}

.card_one {
  grid-column: 1/2;
  background-color: var(--color-red);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card_two {
  grid-column: 2/3;
  background-color: var(--color-red);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card_three {
  grid-column: 1/2;
  background-color: var(--color-red);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card_four {
  grid-column: 2/3;
  background-color: var(--color-red);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card_five {
  grid-column: 1/2;
  background-color: var(--color-red);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card_six {
  grid-column: 2/3;
  background-color: var(--color-red);
  display: flex;
  justify-content: center;
  align-items: center;
}

/*********************************************************** SECTION THREE MOBILE */

.section_three {
  grid-column: 2/4;
  display: grid;
  height: auto;
  padding-top: 3rem;
  margin-bottom: 4rem;
}

/*********************************************************** GENERAL DESKTOP */

@media (min-width: 1000px) {
  h1 {
    font-family: azo-sans-web, sans-serif;
    font-weight: 900;
    font-style: normal;
    color: var(--color-red);
    font-size: 5rem;
    margin-bottom: 7rem;
  }

  .h1stroke {
    -webkit-text-stroke: 1.5px var(--color-red);
  }

  h2 {
    font-size: 5rem;
  }

  h3 {
    font-size: 3rem;
  }

  /* img:hover {
    opacity: 100%;
  } */

  /*********************************************************** HEADER DESKTOP */

  header {
    display: flex;
    justify-content: space-between;
    padding: 3rem;
  }

  header .logo {
    margin-bottom: 0;
  }

  /*********************************************************** SECTION_ONE DESKTOP */

  .section_one {
    grid-column: 2/4;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: auto;
    padding-top: 3rem;
    margin-bottom: 4rem;
  }

  .section_one .intro {
    grid-column: 1/4;
  }

  /*********************************************************** SECTION_TWO DESKTOP */

  .section_two {
    grid-column: 2/3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3rem;
  }

  /*********************************************************** SECTION_THREE DESKTOP */

  /*********************************************************** SECTION_ONE_P DESKTOP */

  .section_one_p {
    grid-column: 2/3;
    height: 70vh;
    display: flex;
    justify-content: center;
    margin-top: 10rem;
  }

  .mockup {
    width: auto;
  }

  .section_two_p {
    margin-top: 10rem;
    grid-column: 1/4;
    display: grid;
    grid-template-columns: 8rem auto 8rem;
    grid-template-rows: 8rem auto 8rem;
    height: auto;
    background-color: var(--color-blue);
  }

  .section_two_p .wrapper {
    grid-column: 2/3;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  /*********************************************************** SECTION_FOUR_P DESKTOP */

  .section_four_p {
    grid-column: 1/4;
    display: grid;
    grid-template-columns: 8rem auto 8rem;
    grid-template-rows: 8rem auto 8rem;
    height: auto;
  }

  .section_four_p .wrapper {
    grid-column: 2/3;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 2rem;
  }

  /*********************************************************** SECTION_THREE_P DESKTOP */

  .section_three_p {
    grid-column: 1/4;
    display: flex;
    height: 40vh;
    justify-content: center;
    align-items: center;
  }

  .headings {
    grid-column: 1/2;
  }

  .text {
    grid-column: 2/4;
  }

  /*********************************************************** SECTION_THREE HOVER DESKTOP */

  .section_three_p::before {
    transform: scaleX(0);
    transform-origin: bottom right;
  }

  .section_three_p:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  .section_three_p::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    inset: 0 0 0 0;
    background: var(--color-blue);
    z-index: -1;
    transition: transform 0.3s ease;
  }

  .section_three_p {
    position: relative;
  }

  .hover {
    font-family: azo-sans-web, sans-serif;
    font-weight: 900;
    font-style: normal;
    color: var(--color-red);
    font-size: 4rem;
  }

  button {
    border: 2px solid var(--color-red);
    background-color: var(--color-blue);
    border: 2px solid var(--color-red);
    width: 14rem;
    border-radius: 50px;
    height: 3rem;
    color: #fff;
    transition: 0.3s;
  }
  button:hover {
    box-shadow: 8px 8px var(--color-red);
    transition: 0.3s;
  }
}
