* {
  margin: 0;
}

:root {
  --color-blue: #3048f8;
  --color-red: #ff221f;
  --color-peach: #fe5f5f;
  --color-pink: #fceaee;
  --color-white: #fcf9f9;
}

body {
  background-color: var(--color-pink);
}

img {
  display: block;
  width: 100%;
  height: auto;
  opacity: 100%;
}

main {
  display: grid;
  grid-template-columns: 1fr minmax(0, 1200px) 1fr;
}

h1 {
  font-family: azo-sans-web, sans-serif;
  font-weight: 900;
  font-style: normal;
  color: var(--color-red);
  font-size: 2rem;
  margin-bottom: 5rem;
  margin-top: 5rem;
}

.h1stroke {
  color: var(--color-pink);
  -webkit-text-stroke: 1px var(--color-red);
}

.h3stroke {
  display: none;
}

.h1blue {
  color: var(--color-peach);
}

h2 {
  font-family: azo-sans-web, sans-serif;
  font-weight: 900;
  font-style: normal;
  color: var(--color-blue);
  font-size: 1.5rem;
  position: absolute;
}

h3 {
  font-family: azo-sans-web, sans-serif;
  font-weight: 900;
  font-style: normal;
  color: var(--color-pink);
  font-size: 2.5rem;
}

p {
  font-family: ingra, sans-serif;
  font-weight: 200;
  font-style: normal;
}

.project_p {
  color: var(--color-pink);
  margin-bottom: 0;
}

a {
  font-family: ingra, sans-serif;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  color: var(--color-red);
  font-size: 1.5rem;
}

button {
  border: 2px solid var(--color-red);
  background-color: var(--color-blue);
  border: 2px solid var(--color-red);
  width: 14rem;
  border-radius: 50px;
  height: 3rem;
  transition: 0.3s;
  cursor: pointer;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

button a {
  font-family: ingra, sans-serif;
  font-weight: 200;
  font-style: normal;
  text-decoration: none;
  color: var(--color-pink);
  font-size: 1rem;
}
/*********************************************************** HEADER MOBILE */

header {
  position: sticky;
  top: 0;
  padding: 1rem;
  z-index: 100;
  background-color: var(--color-pink);
}

header .logo {
  display: flex;
  place-content: center;
  margin-bottom: 1rem;
}

header nav ul {
  list-style: none;
  padding: 0;
  gap: 1rem;
  overflow-x: auto;
  display: flex;
  place-content: center;
}
/*********************************************************** SECTION ONE MOBILE */

.section_one {
  /* grid-column: 1/4; */
  margin-left: 1rem;
  margin-right: 1rem;
}

/*********************************************************** MARQUEE MOBILE */

.marquee {
  display: none;
  grid-column: 1/4;
  height: 4rem;
  overflow: hidden;
  position: relative;
  background: var(--color-blue);
}

/*********************************************************** SECTION TWO MOBILE */

.section_two {
  grid-column: 1/4;
  margin-left: 1rem;
  margin-right: 1rem;
}

.section_two img {
  margin-top: 2rem;
}

.card_one {
  grid-column: 1/2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card_two {
  grid-column: 2/3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card_three {
  grid-column: 1/2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card_four {
  grid-column: 2/3;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*********************************************************** SECTION THREE MOBILE */

.section_three {
  grid-column: 1/4;
  display: grid;
  height: auto;
  padding-top: 3rem;
  margin-bottom: 4rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.section_one_p {
  grid-column: 1/4;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.section_two_p {
  margin-top: 2rem;
  grid-column: 1/4;
  display: flex;
  flex-direction: column;
  height: auto;
  background-color: var(--color-blue);
}

.h2_two {
  margin-top: 3rem;
  margin-bottom: 3rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.text {
  margin-left: 1rem;
  margin-right: 1rem;
}

.section_four_p {
  grid-column: 1/4;
  margin-left: 1rem;
  margin-right: 1rem;
}

.section_four_p img {
  margin-top: 1rem;
}

.detail_box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section_three_p {
  grid-column: 1/4;
  display: flex;
  height: 20vh;
  justify-content: center;
  align-items: center;
  background-color: var(--color-blue);
  margin-top: 5rem;
}

.section_three_p a {
  color: var(--color-pink);
}

footer {
  width: 100vw;
  height: 20vh;
  background-color: var(--color-blue);
}
/*********************************************************** GENERAL DESKTOP */

@media (min-width: 1000px) {
  h1 {
    font-family: azo-sans-web, sans-serif;
    font-weight: 900;
    font-style: normal;
    color: var(--color-red);
    font-size: 4.5rem;
    margin-bottom: 5rem;
  }

  .h1stroke {
    -webkit-text-stroke: 1.5px var(--color-red);
  }

  h2 {
    font-size: 4rem;
  }

  h3 {
    font-size: 3rem;
  }

  .h3stroke {
    display: unset;
    color: var(--color-blue);
    -webkit-text-stroke: 1px var(--color-pink);
  }

  button {
    margin-top: 0;
    margin-bottom: 0;
  }

  /*********************************************************** HEADER DESKTOP */

  header {
    display: flex;
    justify-content: space-between;
    padding: 3rem;
  }

  header .logo {
    margin-bottom: 0;
  }

  /*********************************************************** SECTION_ONE DESKTOP */

  .section_one {
    grid-column: 1/4;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: auto;
    margin-bottom: 4rem;
  }

  .section_one .intro {
    grid-column: 1/4;
  }

  .marquee {
    display: unset;
    grid-column: 1/4;
    height: 5rem;
  }

  .marquee h3 {
    margin-top: 0.7rem;
    text-align: center;
    -moz-transform: translateX(35%);
    -webkit-transform: translateX(35%);
    transform: translateX(35%);
    -moz-animation: bouncing-text 5s linear infinite alternate;
    -webkit-animation: bouncing-text 5s linear infinite alternate;
    animation: bouncing-text 5s linear infinite alternate;
    font-size: 2.5rem;
  }

  @-moz-keyframes bouncing-text {
    0% {
      -moz-transform: translateX(10%);
    }
    100% {
      -moz-transform: translateX(-10%);
    }
  }

  @-webkit-keyframes bouncing-text {
    0% {
      -webkit-transform: translateX(10%);
    }
    100% {
      -webkit-transform: translateX(-10%);
    }
  }

  @keyframes bouncing-text {
    0% {
      -moz-transform: translateX(35%);
      -webkit-transform: translateX(35%);
      transform: translateX(35%);
    }
    100% {
      -moz-transform: translateX(-35%);
      -webkit-transform: translateX(-35%);
      transform: translateX(-35%);
    }
  }

  /*********************************************************** SECTION_TWO DESKTOP */

  .section_two {
    grid-column: 1/4;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0;
    grid-gap: 1rem;
    background-color: var(--color-blue);
    padding-bottom: 1rem;
  }

  .section_two img {
    margin: 0;
  }

  /*********************************************************** SECTION_THREE DESKTOP */

  /*********************************************************** SECTION_ONE_P DESKTOP */

  .section_one_p {
    grid-column: 2/3;
    height: 70vh;
    display: flex;
    justify-content: center;
    margin-top: 10rem;
  }

  .mockup {
    width: auto;
  }

  .mockup_phone {
    position: absolute;
    width: auto;
    height: 50%;
    bottom: -10;
  }

  .section_two_p {
    margin-top: 10rem;
    grid-column: 1/4;
    display: grid;
    grid-template-columns: 8rem auto 8rem;
    grid-template-rows: 8rem auto 8rem;
    height: auto;
    background-color: var(--color-blue);
  }

  .section_two_p .wrapper {
    grid-column: 2/3;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .project_p {
    color: var(--color-pink);
    margin-bottom: 5.5rem;
  }

  .h2_two {
    margin-top: 0;
    margin-bottom: 0;
  }

  /*********************************************************** SECTION_FOUR_P DESKTOP */

  .section_four_p {
    grid-column: 1/4;
    display: grid;
    grid-template-columns: 8rem auto 8rem;
    grid-template-rows: 8rem auto 8rem;
    height: auto;
  }

  .section_four_p .wrapper {
    grid-column: 2/3;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 2rem;
  }

  /*********************************************************** SECTION_THREE_P DESKTOP */

  .section_three_p {
    grid-column: 1/4;
    display: flex;
    height: 40vh;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    margin-top: 5rem;
  }

  .section_three_p a {
    color: var(--color-red);
  }

  .headings {
    grid-column: 1/2;
  }

  .text {
    grid-column: 2/4;
  }

  /*********************************************************** SECTION_THREE HOVER DESKTOP */

  .section_three_p::before {
    transform: scaleX(0);
    transform-origin: bottom right;
  }

  .section_three_p:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  .section_three_p::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    inset: 0 0 0 0;
    background: var(--color-blue);
    z-index: -1;
    transition: transform 0.3s ease;
  }

  .section_three_p {
    position: relative;
  }

  .hover {
    font-family: azo-sans-web, sans-serif;
    font-weight: 900;
    font-style: normal;
    color: var(--color-red);
    font-size: 4rem;
  }

  .hover:hover {
    color: var(--color-pink);
  }

  /*********************************************************** BUTTON HOVER DESKTOP */

  button:hover {
    box-shadow: 8px 8px var(--color-red), 16px 16px var(--color-peach);
    transition: 0.3s;
  }

  /*********************************************************** FOOTER DESKTOP */

  footer {
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  footer a {
    color: var(--color-pink);
  }
}
